@{
    ViewData["Title"] = "Indexa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    @using OnlineSinavSistemi.Model.Data

    @model Brans
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->

        <h1 class="page-title">
            Ders Bilgileri
            <small>user account page</small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet ">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="~/assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> Marcus Doe </div>
                            <div class="profile-usertitle-job"> Developer </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-circle green btn-sm">Email</button>
                            <button type="button" class="btn btn-circle red btn-sm">Message</button>
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-home"></i> Ders Adi
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="page_user_profile_1_account.html">
                                        <i class="icon-settings"></i> Account Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="page_user_profile_1_help.html">
                                        <i class="icon-info"></i> Help
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                    <!-- END PORTLET MAIN -->
                    <!-- PORTLET MAIN -->
                    <div class="portlet light ">
                        <!-- STAT -->
                        <div class="row list-separated profile-stat">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="uppercase profile-stat-title"> 37 </div>
                                <div class="uppercase profile-stat-text"> Dersleri </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="uppercase profile-stat-title"> 51 </div>
                                <div class="uppercase profile-stat-text"> Görevleri </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="uppercase profile-stat-title"> 61 </div>
                                <div class="uppercase profile-stat-text"> Videolari </div>
                            </div>
                        </div>
                        <!-- END STAT -->
                        <div>
                            <h4 class="profile-desc-title">Ders Hakkında Özet Bilgi</h4>
                            <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-globe"></i>
                                <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-twitter"></i>
                                <a href="http://www.twitter.com/keenthemes/">kkeenthemes</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-facebook"></i>
                                <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET MAIN -->
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">Ders Bilgileri</span>
                                    </div>
                                    <ul class="nav nav-tabs"></ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="alert alert-info">  @TempData["Mesaj"]</div>
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form" asp-controller="Brans" enctype="multipart/form-data" asp-action="Ekle" asp-area="Admin" method="post">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <label class="control-label">Üst Branşı</label>
                                                  @*  @Html.DropDownListFor(x => x.UstBransId, ViewBag.BransList  as SelectList, "Seçiniz", new { @class = "form-control" })*@
                                                <my-s-o asp-for="UstBransId" lst-for="ViewBag.THBransList as List<Brans>" ></my-s-o>

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Branş Adı</label>
                                                    @*         <input type="text" placeholder="Branş Adı" class="form-control" name="Ad" />*@
                                                    @Html.TextBoxFor(x => x.Ad, "text", new { @class = "form-control" })
                                                  @* @Html.Raw("<b>form burada biter</b>")*@
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">LogoUrl</label>
                                                  @*  <input type="text"  asp-for="LogoUrl"  class="form-control"/>*@
                                                    @*<input type="text" placeholder="Url" class="form-control" name="LogoUrl" />*@
                                                <input type="file" name="Foto" value="" />
                                                </div>
                                                <input type="submit" name="name" value="Kaydet" />
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
